# Theme
theme: minima

# Build settings
markdown: kramdown

# Collections
# None needed for now

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
